.title
{
	font-size: 25px;
	font-style: normal;
	color: DarkOrange;
}

.font
{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.element
{
	padding-left: 50px;
	font-style: italic;;
}